<div class="preview_toolbar loading">
  <div class="toolbar_setting">
    <div class="data_fetch_address">
      <div class="address">
        <span class="address_method">GET</span>
        <span id="request_address_url" class="address_url"><%= address %><%= prefix %>/database/<%= name %></span>
      </div>
      <img id="copy_btn" onclick="copyAddressUrl()" class="icon pointer_auto" src="/icons/copy.svg" width="16px" height="16px" />
    </div>
    <form action="/__update/<%= name %>" method="POST">
      <button class="toolbar_db_action" type="submit">
        <img src="/icons/insert.svg" width="16px" height="16px" />
        Add a record
      </button>
    </form>
    <% if (hasData) { %>
    <form action="/__delete/<%= name %>" method="POST">
      <button class="toolbar_clear_action" type="submit">
        <img src="/icons/eraser.svg" width="16px" height="16px" />
        Clear
      </button>
    </form>
    <% } else { %>
    <button class="toolbar_clear_action disabled" type="submit">
      <img src="/icons/eraser.svg" width="16px" height="16px" />
      Clear
    </button>
    <% } %>
  </div>

  <div class="toolbar_actions">
    <div class="toolbar_action_item" onclick="copyJsonCode()">
      <img class="icon" src="/icons/copy.svg" width="18px" height="18px" />
    </div>
    <div class="divider"></div>
    <a class="toolbar_action_item" data-source-name="<%= name %>" onclick="downloadJsonCode(this)">
      <img class="icon" src="/icons/download.svg" width="18px" height="18px" />
    </a>
  </div>
</div>
