<%- include("components/sidebar", {currentPath, entities, version }) %> <% title = name %>
<main class="main">
  <header class="header">
    <span class="interface_name"><%= name %></span>
  </header>
  <div class="preview">
    <div class="preview-loading loading">
      <span class="loader visible"></span><span class="error">Some libraries could not be loaded. check your internet connection and try again.</span>
    </div>
    <div class="preview_toolbar loading">
      <div class="toolbar_setting">
        <div class="data_fetch_address">
          <div class="address">
            <span class="address_method">GET</span>
            <span class="address_url"><%= address %><%= prefix %>/<%= name %><%= search %></span>
          </div>
          <img id="copy_btn" onclick="copy()" class="icon pointer_auto" src="/icons/copy.svg" width="16px" height="16px" />
        </div>
        <div id="overlay_trigger" class="toolbar_setting_option" onclick="open_settings()">
          <img class="icon" src="/icons/settings.svg" width="18px" height="18px" />
        </div>
        <div id="setting_overlay" data-visible="false" class="toolbar_setting_overlay">
          <span class="setting_title">Generator settings</span>
          <form class="setting_form" onsubmit="submitForm(event)">
            <div class="form_input">
              <label for="count">Count</label>
              <input id="count" autocomplete="off" name="count" type="text" />
              <span>Set count field to generate array of data items.</span>
            </div>
            <div style="display: flex; flex-direction: column; gap: 8px">
              <div class="form_input inline">
                <label for="unique_id">Generate unique id</label>
                <div class="switch" onclick="onChangeGenerateUniqueId()">
                  <input type="checkbox" id="unique_id" name="unique_id" />
                  <span class="slider"></span>
                </div>
              </div>
              <div id="unique_id_key_field" class="form_input" data-visible="false">
                <input id="unique_id_key" autocomplete="off" name="unique_id_key" type="text" value="_id" placeholder="unique id key" />
              </div>
              <div id="unique_strategy_container" class="unique_strategy" data-visible="false">
                <span class="unique_id_hint">By default unique id is auto incremented integer.</span>
                <div class="form_input inline">
                  <label for="unique_id_strategy">Generate as uuid</label>
                  <div class="switch" onclick="onHandleUniqueIdStrategy()">
                    <input type="checkbox" id="unique_id_strategy" name="unique_id_strategy" />
                    <span class="slider"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form_buttons">
              <button class="form_reset_btn" type="button" onclick="resetForm(event)">Reset</button>
              <button class="form_apply_btn" type="submit">Apply</button>
            </div>
          </form>
        </div>
      </div>

      <div class="toolbar_actions">
        <div class="toolbar_action_item">
          <img class="icon" src="/icons/copy.svg" width="18px" height="18px" />
        </div>
        <div class="divider"></div>
        <div class="toolbar_action_item">
          <img class="icon" src="/icons/download.svg" width="18px" height="18px" />
        </div>
      </div>
    </div>
    <%- include("components/code", { lang: "json", code: json }) %>
  </div>
</main>
<script src="/js/fakelab.min.js"></script>
<!-- <script>
  const address_url = document.querySelector(".address_url");

  async function copy() {
    try {
      await navigator.clipboard.writeText(address_url.textContent);
    } catch (err) {
      console.info(err);
    }
  }

  function open_settings() {
    const element = document.getElementById("setting_overlay");
    element.setAttribute("data-visible", "true");
  }

  function handleCloseSetting(event) {
    const element = document.getElementById("setting_overlay");

    if (!event.target) return;
    if (!element.contains(event.target) && event.target.id !== "overlay_trigger") {
      element.setAttribute("data-visible", "false");
    }
  }

  window.addEventListener("click", handleCloseSetting);

  window.addEventListener("DOMContentLoaded", () => {
    const countEl = document.getElementById("count");
    const uniqueIdEl = document.getElementById("unique_id");
    const strategyEl = document.getElementById("unique_id_strategy");
    const uniqueIdKeyEl = document.getElementById("unique_id_key");
    const keyEl = document.getElementById("unique_id_key_field");
    const strategyContainerEl = document.getElementById("unique_strategy_container");
    const params = new URLSearchParams(window.location.search);
    const countValue = params.get("count");
    const uniqueIdValue = params.get("uid");
    if (countValue) countEl.value = countValue;
    if (uniqueIdValue) {
      uniqueIdEl.checked = true;
      uniqueIdKeyEl.value = uniqueIdValue;
      keyEl.setAttribute("data-visible", "true");
      strategyContainerEl.setAttribute("data-visible", "true");
      if (params.has("s")) {
        strategyEl.checked = true;
      }
    }
  });

  function submitForm(event) {
    event.preventDefault();
    const resetReasons = new Set();
    const formData = new FormData(event.target);
    const countValue = formData.get("count")?.trim();
    const uniqueIdValue = formData.get("unique_id_key")?.trim();
    const params = new URLSearchParams();

    const switcher = document.getElementById("unique_id");
    const strategySwitcher = document.getElementById("unique_id_strategy");

    if (countValue && Number(countValue) > 0) {
      const valueAsNumber = Number(countValue);

      params.set("count", countValue.toString());
      window.location.search = params.toString();
    } else {
      params.delete("count");
      resetReasons.add("count");
    }

    if (!switcher.checked) {
      params.delete("uid");
      resetReasons.add("uid");
    }

    if (uniqueIdValue && switcher.checked) {
      params.set("uid", uniqueIdValue);

      if (strategySwitcher.checked) {
        params.set("s", "uuid");
      }

      window.location.search = params.toString();
    } else {
      params.delete("uid");
      params.delete("s");
      resetReasons.add("uid");
    }

    const hasUidReason = resetReasons.has("uid");
    const hasCountReason = resetReasons.has("count");

    if (hasCountReason && hasUidReason) {
      if (window.location.href.includes("?")) {
        [href] = window.location.href.split("?");

        window.location.href = href;
      }
    } else if ((hasCountReason && !hasUidReason) || (!hasCountReason && hasUidReason)) {
      window.location.search = params.toString();
    }
  }

  function resetForm(event) {
    event.preventDefault();
    const params = new URLSearchParams(window.location.search);
    params.delete("count");
    params.delete("uid");
    params.delete("s");
    if (window.location.href.includes("?")) {
      window.location.href = window.location.href.split("?")[0];
    }
  }

  function onChangeGenerateUniqueId(element) {
    const switcher = document.getElementById("unique_id");
    const key = document.getElementById("unique_id_key_field");
    const strategy = document.getElementById("unique_strategy_container");
    switcher.checked = !switcher.checked;
    key.setAttribute("data-visible", switcher.checked.toString());
    strategy.setAttribute("data-visible", switcher.checked.toString());
  }

  function onHandleUniqueIdStrategy(element) {
    const strategy = document.getElementById("unique_id_strategy");
    strategy.checked = !strategy.checked;
  }
</script> -->
