<%- include("components/sidebar", {entities, name, version, isDatabaseEnabled, isFakelabEnabled }) %> <% title = name %>
<main class="main">
  <header class="header">
    <span class="interface_name"><%= name %> <%= suffix %></span>
  </header>
  <div class="preview">
    <div class="preview-loading loading">
      <span class="loader visible"></span><span class="error">Some libraries could not be loaded. check your internet connection and try again.</span>
    </div>
    <%- include("components/toolbar", { address, prefix, name, search, isGraphqlEnabled }) %>
    <span class="cache-hint"><%= fromCache ? "(from cache)" : "" %></span>
    <%- include("components/code", { lang: "json", code: json }) %>
  </div>
</main>
<script src="/js/preview.min.js"></script>
