<div class="preview_toolbar loading">
  <div class="toolbar_setting">
    <div class="data_fetch_address">
      <div class="address">
        <span class="address_method">GET</span>
        <span id="request_address_url" class="address_url"><%= address %><%= prefix %>/<%= name %><%= search %></span>
      </div>
      <img id="copy_btn" title="Copy the URL" onclick="copyAddressUrl()" class="icon pointer_auto" src="/icons/copy.svg" width="16px" height="16px" />
    </div>
    <div id="overlay_trigger" title="Open Settings" class="toolbar_setting_option" onclick="openSettings()">
      <img class="icon" src="/icons/settings.svg" width="18px" height="18px" />
    </div>
    <% if(isGraphqlEnabled) { %>
    <a href="/graphql/<%= name %>" class="toolbar_setting_option" title="Open GraphQL Playground">
      <img class="icon" src="/icons/graphql-logo.png" width="18px" height="18px" />
    </a>
    <% } %> <% if(isCacheEnabled) { %>
    <form action="/__resetCache/<%= name %>" method="POST" title="Refresh Response">
      <button type="submit" class="toolbar_setting_option">
        <img class="icon" src="/icons/trash.svg" width="18px" height="18px" />
      </button>
    </form>
    <% } %>
    <div id="setting_overlay" data-visible="false" class="toolbar_setting_overlay">
      <span class="setting_title">Generator settings</span>
      <form class="setting_form" onsubmit="submitForm(event)">
        <div class="form_input">
          <label for="count">Count</label>
          <input id="count" autocomplete="off" name="count" type="text" />
          <span>Set count field to generate array of data items.</span>
        </div>
        <div class="form_buttons">
          <button class="form_reset_btn" type="button" onclick="resetForm(event)">Reset</button>
          <button class="form_apply_btn" type="submit">Apply</button>
        </div>
      </form>
    </div>
  </div>

  <div class="toolbar_actions">
    <div class="toolbar_action_item" title="Copy" onclick="copyJsonCode()">
      <img class="icon" src="/icons/copy.svg" width="18px" height="18px" />
    </div>
    <div class="divider"></div>
    <a class="toolbar_action_item" title="Download" data-source-name="<%= name %>" onclick="downloadJsonCode(this)">
      <img class="icon" src="/icons/download.svg" width="18px" height="18px" />
    </a>
  </div>
</div>
